.vvp_form input[type=text] {
    margin-top: 1em;
	display: block;
}
.vvp_form textarea {
    margin-top: 1em;
	display: block;
}

.vvp_form input[type=button] {
    margin-top: 1em;
	display: block;
}

.vvp_form label {
    margin-top: 1em;
    display: block;
}